.Slides {
    width: 80%;
    margin: 10rem auto;
    height: 570px;
  }
  .slick-slide > div {
    margin: 0 30px;
  }
  .slick-list {
    margin: 0 -10px;
  }

  .slick-center {
    transform: scale(1.25) 
  }
  