body {
  background-color: #282c34;
}

.App {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  height: 500px;
  max-width: 450px;
  color: black;
  cursor: pointer;
  margin: 50px auto;
}
.card-top h1 {
  font-size: 1.1rem;
  margin: 40px;
}

.card-top > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  background: black;
}
.card-bottom {
  margin: 40px;
}
.category {
  position: relative;
}
.category::before {
  content: '';
  background: rgb(255, 61, 61);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}
.carousel-control.left , .carousel-control.right
{
  background-image: none !important;
}