*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fc {
  color: #fafafa;
  margin: 1em;
}

.fc-toolbar-chunk:first-letter {
  text-transform: uppercase;
}

.fc .fc-button {
    border: 0.1em solid #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: transparent;
    cursor: pointer;
}

.fc .fc-button:hover {
  color: #000000;
  background-color: #fafafa;
}

.fc-scrollgrid-sync-inner {
  backdrop-filter: blur(20px);
  background-color: rgba(256, 256, 256, 0.25);
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #B91EEC;
}

.fc-h-event {
  background-color: transparent;
  border: none;
}
.fc-event-title-container {
  background-color: #981AC1;
  color: #fafafa;
  transition: 0.2s ease-in-out;
  cursor: default;
}
.fc-event-title-container:hover {
  background-color: #000;
  color: #fafafa;
  transition: 0.2s ease-in-out;
}

.fc .fc-button-primary:disabled {
    border: 0.1em solid #FFFFFF;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      color: #FFFFFF;
      text-align: center;
      transition: all 0.2s;
      background-color: transparent;
      cursor: pointer;
    }
