@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #495998;
	--secondaryColor: #c62bdb;
	--textColor: #fafafa;
}

header {
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: transparent;
	color: var(--textColor);
	top: 0;
}

nav a {
	width: fit-content;
	margin: 0 0 0 3rem;
	color: var(--textColor);
	text-decoration: none;
	font-family: 'Fira Sans', sans-serif;
	transition: 0.2s ease-in-out;
}

nav a:hover{
	color: var(--secondaryColor);
	transform: translateX(8px);
}

header .nav-btn {
	position: relative;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
	z-index: 3;
}

header .nav-btn {
	visibility: visible;
	opacity: 1;
}

header nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.8s;
	transform: translateX(-100vw);
	z-index: 2;
}
	
header .responsive_nav {
	transform: none;
}

nav .nav-close-btn {
	position: absolute;
	top: 1rem;
	right: 2rem;
}

nav i {
	justify-content: center;
	margin: 0 1rem 0 0;
	font-size: 1.3rem;
}

nav a span {
	text-transform: uppercase;
	font-size: 1.5rem;
}