#wrapper {
    width: 100%;
    height: 80%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.np {
    width: 50%;
    display: flex;
    position: relative;
    left: -50%;

   }
#info {
    text-align:center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
